<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Heimdall", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d9a41df1ef.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link "HEIMDALL", class: "navbar-item heimdall-logo", to: Routes.page_path(@conn, :index) %>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarActions">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarActions" class="navbar-menu">
          <div class="navbar-start">
            <%= link "Home", class: "navbar-item", to: Routes.page_path(@conn, :index) %>
          </div>

          <div class="navbar-end">
            <%= render "_user_menu.html", assigns %>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
